<div class="panel panel-info">
  <div class="panel-heading"><h5><%= t('product_received.index.title')%>: <%= @campaign.name  %></h5></div>
  <div class="panel-body">   
    <table class="table table-striped">
      <tr>
        <th><%= label_for('product_received.product')%></th>
        <th><%= label_for('product_received.total') %></th>
        <th><%= label_for('product_received.description') %></th>
        <th><%= label_for('product_received.received_at') %></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @product_receiveds.each do |product_received| %>
      <tr>
        <td><%= product_received.product.name %></td>
        <td><%= product_received.total %></td>
        <td><%= product_received.description %></td>
        <td><%= product_received.received_at %></td>
        <td><%= link_to 'Show', campaign_product_received_path(@campaign, product_received) %></td>
        <td><%= link_to 'Edit', edit_campaign_product_received_path(@campaign, product_received) %></td>
        <td><i class="icon-trash"></i><%= link_to t('product_received.delete.link'), campaign_product_received_path(@campaign, product_received), :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>
  <div class='panel-footer'>
     <%= link_to t('product_received.new.caption'), new_campaign_product_received_path, :class => "btn btn-primary"  %>
  </div>
</div>
