<h4><%= t('product_delivered.index.title')%>: <%= @subscription.member.to_label %></h4>
<div class="line-separator"></div>
<div class='index'>
  <div class="panel panel-success">
    <div class="panel-heading"><h5>Productos para entregar</h5></div>
    <div class="panel-body">
      <table class="table table-striped">
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Descripción</th>
          <th></th>
        </tr>
        <% @subscription.available_product_delivereds.each do |pd| %>
          <tr>
            <td><%= pd.product.name  %> </td>
            <td><%= @subscription.total_product_subcription(pd.product)  %></td>
            <td><%= pd.description  %> </td>
            <td><%= link_to 'Entregar', delivered_campaign_subscription_path(@subscription.campaign, @subscription, :product_received_id => pd.id)  %> </td>
          </tr>
        <% end  %>
      </table>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading"><h5>Productos Entregados</h5></div>
    <div class="panel-body">
      <table class="table table-striped">
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Fecha de entrega</th>
          <th></th>
        </tr>

      <% @product_delivereds.each do |product_delivered| %>
        <tr>
          <td><%= product_delivered.product.name %></td>
          <td><%= product_delivered.subscription.total_product_subcription(product_delivered.product)%></td>
          <td><%= product_delivered.delivered_at.to_datetime.strftime('%d/%m/%Y')  %></td>
          <td><%= link_to 'Eliminar', campaign_subscription_product_delivered_path(@subscription.campaign, @subscription, product_delivered), :method => :delete, :data => { :confirm => 'Esta seguro de eliminar la entrega?' }%></td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
</div>

<div class="line-separator"></div>
<div class='btns'>
   <%= link_to t('action.back'),  campaign_subscriptions_path(@subscription.campaign), :class => "btn btn-primary pull-right" %>
</div>


