
  <%= simple_form_for [@campaign, @subscription], :html => {:class => "form-horizontal" } do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :created_at, :as => :string, :input_html => {:class => 'datepicker'}%>
      <%= f.association :member %>  
      <%= f.association :campaign, :as => :hidden, :input_html => {:value => @campaign.id} %>
    </div>
</div>
<div class="panel-footer">
    <%= f.button :submit, :class => "btn btn-primary "  %>
    <%= link_to t('action.back'), campaign_subscriptions_path(@campaign), :class => "btn btn-primary"   %>
</div>
  <% end %>


