<div class="panel panel-info">
  <div class="panel-heading">
    <h5><%= t('subscription.index.title')%>: <%= @campaign.name  %></h5>
     <form id="search_subscriptions_form" action="<%= search_campaign_subscriptions_url(@campaign) %>" method="get" >
      <%= text_field_tag 'search_param' %>
      <%= hidden_field_tag 'hidden_campaign_id', @campaign.id %>
      <button type="submit" class="btn btn-primary">
        <i class="icon-search "></i> <%= t('g.search')%>
      </button><br>
      <h4 id="error"></h4>
    </form> 
  </div>
  <div class="panel-body">  
    <div id="subscriptions_search_results">
      <%= render 'subscriptions/list' %>
    </div> 
  </div>
  <div class='panel-footer'>
     <%= link_to t('campaign.new.caption'), new_campaign_subscription_path, :class => "btn btn-primary"  %>
  </div>
</div>
