<%= simple_form_for(@campaign, :html => {:class => "form-horizontal" }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :begin_at, :as => :string, :input_html => {:class => 'datepicker'} %>
    <%= f.input :finish_at, :as => :string, :input_html => {:class => 'datepicker'}  %>

    <h4>Materiales</h4>
      
    <%= f.collection_check_boxes :product_ids, Product.all, :id, :name  %>
      
  </div>

</div>
  <div class="btns">
    <%= f.button :submit, :class => "btn btn-primary pull-right"  %>
  </div>
<% end %>
