<h3><%= t('campaign.index.title')%></h3>
<div class="line-separator"></div>
<div class='index'>

  <table class="table table-striped">
    <tr>
      <th><%= label_for('campaign.name')%></th>
      <th><%= label_for('campaign.begin_at')%></th>
      <th><%= label_for('campaign.finish_at')%></th>
      <th></th> 
      <th></th>
      <th></th>
    </tr>

  <% @campaigns.each do |campaign| %>
    <tr>
      <td><%= link_to campaign.name, campaign %></td>
      <td><%= campaign.begin_at.to_date %></td>
      <td><%= campaign.finish_at.to_date %></td>
      <td><i class="icon-pencil"></i><%= link_to t('campaign.update.link'), edit_campaign_path(campaign) %></td>
      <td><i class="icon-trash"></i><%= link_to t('campaign.delete.link'), campaign, :method => :delete, :data => { :confirm => 'Esta seguro de eliminar la campaña?' } %></td>
      <td><i class="icon-list-alt"></i><%= link_to t('campaign.subscriptions.link'), campaign_subscriptions_path(campaign) %></td>
    </tr>
  <% end %>
  </table>
</div>

<div class='btns'>
   <%= link_to t('campaign.new.caption'), new_campaign_path, :class => "btn btn-primary pull-right"  %>
</div>
