<div class="panel panel-info">
  <div class="panel-heading"><h5><%= t('campaign.index.title')%></h5></div>
  <div class="panel-body">     

  <table class="table table-striped">
    <tr>
      <th><%= label_for('campaign.name')%></th>
      <th><%= label_for('campaign.begin_at')%></th>
      <th><%= label_for('campaign.finish_at')%></th>
      <th></th> 
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @campaigns.each do |campaign| %>
    <tr>
      <td><%= link_to campaign.name, campaign_path(campaign) %></td>
      <td><%= campaign.begin_at.to_date %></td>
      <td><%= campaign.finish_at.to_date %></td>
      <td><i class="glyphicon glyphicon-edit"></i><%= link_to t('campaign.update.link'), edit_campaign_path(campaign) %></td>
      <td><i class="glyphicon glyphicon-trash"></i><%= link_to t('campaign.delete.link'), campaign, :method => :delete, :data => { :confirm => 'Esta seguro de eliminar la campaña?' } %></td>
      <td><i class="glyphicon glyphicon-list-alt"></i><%= link_to t('campaign.subscriptions.link'), campaign_subscriptions_path(campaign) %></td>
      <td><i class="glyphicon glyphicon-list-alt"></i><%= link_to t('campaign.product_received_groups.link'), campaign_product_received_groups_path(campaign) %></td>
      <td><i class="glyphicon glyphicon-list-alt"></i><%= link_to t('campaign.product_receiveds.link'), campaign_product_receiveds_path(campaign) %></td>
    </tr>
  <% end %>
  </table>

  <div class='panel-footer'>
     <%= link_to t('campaign.new.caption'), new_campaign_path, :class => "btn btn-primary"  %>
  </div>
</div>
