<div class="panel panel-info">
  <div class="panel-heading">
   <h3><%= t('campaign.list.title')%></h3>
   <div>
      <p>
        Download:
        <%= link_to "CSV", campaign_list_path(@campaign, format: "csv") %> |
        <%= link_to "Excel", campaign_list_path(@campaign, format: "xls") %>
      </p>
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
    <tr>
      <th><%= t('campaign.list.head')%></th>
      <% @campaign.products.each do |product| %>
        <th> <%= product.abbreviation  %>  </th>
      <% end %>
    </tr>
    <% @campaign.subscriptions.joins(:member).order(:last_name).each do |subscription| %>
    <tr>
      <td><%= subscription.member.to_label  %> </td>
      <% @campaign.products.each do |product| %>
        <td> <%= subscription.total_product_subcription(product)  %> </td>
      <% end %>
    </tr>
    <% end %>
  </table>
  </div>
</div>
    