<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :name %>
    <%= f.input :numbers %>
    <%= f.input :abbreviation  %>
  </div>
</div> 
    <div class="panel-footer">
      
        <%= f.button :submit, :class => "btn btn-success"  %>
        <%= link_to t('action.back'), products_path, :class => "btn btn-danger"  %>

    </div>
<% end %>
