<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :numbers %>
    <%= f.input :abbreviation  %>
  </div>

</div>
<div class="btns">
    <%= f.button :submit, :class => "btn btn-primary pull-right"  %>
</div>
<% end %>
