<h3><%= t('product.show.title')%></h3>
<div class="line-separator"></div>
<div class="detail">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <p id="notice"><%= notice %></p>
      </div>
    </div>

  	<div class="row-fluid">
      <div class="span2">
        <b><%= label_for('product.name')%>:</b>
      </div>
      <div class="span10">
        <%= @product.name  %>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span2">
        <b><%= label_for('product.numbers')%>:</b>
      </div>
      <div class="span10">
        <%= @product.numbers  %>
      </div>
    </div>
  </div>
</div>

<div class='btns'>
  <%= link_to raw('<i class="icon-pencil icon-white"></i> ' + t('action.edit')), edit_product_path(@product), :class => "btn btn-primary pull-right" %> 
  <%= link_to t('action.back'), products_path, :class => "btn btn-inverse pull-right"%>
</div>
