<!DOCTYPE html>
<html>
<head>
  <title>Publication</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>
    <div  class="container">
        <%= render 'shared/head' %>
        <br>
        <div class="row">
          <%= yield %>
        </div>
        
       
    </div>
</body>
</html>
