<%= paginate @members %>
  <table class="table ">
    <tr>
      <th><%= label_for('member.full_name')%></th>
      <!-- <th><%= label_for('member.first_name')%></th> -->
      <!-- <th><%= label_for('member.phone')%></th> -->
      <!-- <th><%= label_for('member.email')%></th> -->
      <th>Productos para entregar</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @members.each do |member| %>
    <tr>
      <td class="member_item"><%= member.to_label %></td>
      <div id="member_additional_info_<%= member.id %>" class="data hide">
        <h4>Datos Personales</h4>
        <p>
          <strong>Telefono: </strong><br>
          <small><%= member.phone %></small>
        </p>
        <p>
          <strong>Email: </strong><br>
          <small><%= member.email %></small>
        </p>
        
      </div>
      <!-- <td><%= member.first_name%></td> -->
      <!-- <td><%= member.phone %></td> -->
      <!-- <td><%= member.email %></td> -->
      <td><%= member.total_available_products %></td>
      <td><i class="glyphicon glyphicon-eye-open"></i><%= link_to ' Entregas', member_path(member)   %></td> 
      <td><%= link_to edit_member_path(member) do %>
        <i class="glyphicon glyphicon-edit"></i>
        <% end  %>
      </td>
      <td><%= link_to member, :method => :delete, :data => { :confirm => 'Are you sure?' } do %>
        <i class="glyphicon glyphicon-trash"></i>
        <% end  %>
      </td>
    </tr>
  <% end %>
  </table>