<div class="panel panel-info">
  <div class="panel-heading">
    <h5><%= t('member.show.title')%></h5>
    <p id="notice"><%= notice %></p>  
  </div>
  <div class="panel-body">    
    <p>
      <b><%= label_for('member.first_name')%>:</b>
      <%= @member.first_name  %>
    </p>
    <p>
      <b><%= label_for('member.last_name')%>:</b>
      <%= @member.last_name  %>
    </p>  
    <p>
      <b><%= label_for('member.phone')%>:</b>
      <%= @member.phone  %>
    </p> 
    <p>
      <b><%= label_for('member.email')%>:</b>
      <%= @member.email  %>
    </p> 
    <p>
      <b><%= label_for('member.address')%>:</b>
      <%= @member.address  %>
    </p>  
  </div>
  <div class="panel-footer">
  <%= link_to raw('<i class="icon-pencil icon-white"></i> ' + t('action.edit')), edit_member_path(@member), :class => 'btn btn-primary'%> 
  <%= link_to raw('<i class="icon-list icon-white"></i> ' + t('action.show_all')), members_path, :class => 'btn btn-success' %> 
  </div>
</div>  
<br>
<div class="panel panel-success">
    <div class="panel-heading"><h5>Productos para entregar</h5></div>
    <div class="panel-body">
      <table class="table table-striped">
        <tr>
          <th>Campaña</th>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Descripción</th>
          <th></th>
        </tr>
        <% @member.subscriptions.each do |s|  %>
          <% s.available_product_delivereds.each do |pd| %>
            <tr>
              <td><%= s.campaign.name  %></td> 
              <td><%= pd.product.name  %> </td>
              <td><%= s.total_product_subcription(pd.product)  %></td> 
              <td><%= pd.description  %> </td>
              <td><%= link_to 'Entregar', delivered_campaign_subscription_path(s.campaign, s, :product_received_id => pd.id, :member_id => @member.id)  %> </td>
            </tr>
          <% end  %>
        <% end  %>
      </table>
    </div>
  </div>



